@use './assets/styles/mixins.scss' as m;
@use './assets/styles/variables.scss' as v;

.App {
  width: 100%;
  min-height: 100vh;
  background-color: v.$lightGrey;
  transition: background-color 0.4s ease-in-out;

  &.light {
    background-color: v.$mainLightColor;
  }

  &.dark {
    background-color: v.$mainColor;
  }

  &__content {
    max-width: 1640px;
    margin: 0 auto;
    height: 100%;
  }

  &__container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
  }

  &__futureDays {
    @include m.flex(space-evenly);
    flex-wrap: wrap;
    gap: 30px;
  }

}