@use '../../assets/styles/variables.scss' as v;
@use '../../assets/styles/mixins.scss' as m;

.dayPeriod {
  @include m.flex(flex-start, center, column);
  padding: 0 30px;
  color: v.$mainColor;

  &:not(:last-child){
    border-right: 1px solid v.$lightGrey;
  }  

  &__header {
    font: v.$font-m;
    margin-bottom: 5px;
  }

  &__columns {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }
}